.body-container {
  height: 90vh;
}

.filter-container {
  background: palevioletred;
  height: 20vh;
  padding: 1em 7em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.table-container {
  background: paleturquoise;
  height: 70vh;
}
