.body-container {
  height: 90vh;
}

.filter-and-search-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: palevioletred;
  border-bottom: 1px solid black;
  position: relative;
}

.filter-container {
  height: 20vh;
  padding: 1em;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table-container {
  background: paleturquoise;
  height: 70vh;
}

.search-btn {
  position: relative;
  bottom: 2em;
  width: 60px;
  height: 30px;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  font-size: 0.8em;
  outline: none;
}

.search-btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
