.body-container {
  height: 90vh;
}

.body-wrap {
  height: 70vh;
  background: rgba(255, 255, 255, 1);
  overflow: scroll;
}

.filter-and-search-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7f7f7;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  position: relative;
}

.filter-container {
  height: 20vh;
  padding: 1em;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-btn {
  position: relative;
  bottom: 2em;
  width: 60px;
  height: 30px;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  font-size: 0.8em;
  outline: none;
  background: #0053a6;
  color: #f7f7f7;
}

.search-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
