.graph-wrap {
  text-align: center;
  width: 100%;
}

.back-btn {
  width: 100px;
  height: 30px;
  margin-top: 2em;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  font-size: 0.8em;
  outline: none;
  background: #0053a6;
  color: #f7f7f7;
}

.back-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.graph-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 2em;
}
