.head {
  font-weight: bolder;
  font-size: 1em;
  padding: 1em 0;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
}

.age,
.gender {
  width: 40% !important;
}

.bmi,
.a1c,
.bp {
  width: 60% !important;
}
