.head-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #0053a6;
  height: 44px;
  justify-content: space-between;
}

.hcc-text {
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  padding-left: 3em;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 5em;
}

.user {
  color: white;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  line-height: 1.23em;
}

.logo {
  width: 70px;
  height: 27px;
}

.chevron {
  width: 20px;
  height: 20px;
  margin-top: 6px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 50%;
}
