.stat-container {
  width: 60% !important;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(224, 224, 224, 1);
  font-family: "Roboto Light";
  position: relative;
  padding: 1.8px 0;
}

.patient-id,
.gender {
  border-right: 1px solid rgba(224, 224, 224, 1);
  font-family: "Roboto Light";
}
